# **0-** Background

- **The Notebook does product recommendation analysis. Using Co-occurence matrices, this code creates a co-occurence metric and a transaction metric**
     - Co-occurrence Count : Refers to how many times Product Focus and the Recommended Product have been bought together by the same customer across different transactions (added across all customers).
     - Transaction Count : Refers to how many times Product Focus and the Recommended Product have been bought together in the same transaction (added across all customers).

## **0.1-** Extra

Background: I have a transactional dataset with columns as follows:

Speedbus ID	Item ID	Item Description: Item Description	Item Quantity	 Price (USD) 

Assume that each row is a separate transaction for each 1 product purchased. The speedbus ID is the customer id and the rest is self-explanatory. I want to create a python model that recommends product bundling based on the transactional data. Co-occurrence based on each customer's historical purchase can be used in order to find the top 5 products that could be bundled based on their scores. 

I want the result to be a list of each unique product and the top 5 products to be bundled with ranked on a scoring system exported to a csv file. Like this:

A     1A     0.9
A     2A     0.7
A     3A     0.7
A     4A     0.6
A     5A     0.3

The dataset is cleaned and ready for analysis, the df is named "data". Make the score to be from 0 to 1. Ask if you need more info before you proceed.

# **1-** Enviroment Setup

In [ ]:
# Install when needed
!pip install openpyxl
!pip install mlxtend

In [6]:
import pandas as pd
import numpy as np
from itertools import combinations, product
from collections import defaultdict

# **2-** Data Input (GCS) & Cleaning

In [7]:
# Read the Excel file into a dataframe from GCS/local
data = pd.read_excel("/home/user/MyCodeFiles/PR/YSL - Products May YTD 2024 - cleaned.xlsx", engine='openpyxl')

In [111]:
# ONLY IF CLEANED
# Import the cleaned data back if kernel is reset and you dont want to restart the cleaning
data = pd.read_excel("YSL - Products Last 24 Months - cleaned.xlsx", engine='openpyxl')

In [8]:
data[data.columns]

,custid,transid,date,productcode,productname,qty,amount,Year
0,12044593,001796224,2024-05-13 00:00:00,LB703100,LB703100:LIBRE INTENSE 90ML,1,190.605800,2024
1,12044593,001796224,2024-05-13,LB703100,LB703100:LIBRE INTENSE 90ML,1,190.605800,2024
2,99919582511,001796057,2024-05-13,LA696200,LA696200:LIBRE EDP 90ML,1,183.602295,2024
3,9998248301,001796238,2024-05-13,TAE05955,TAE05955:LB EDP INT 90ML+ LB EDP10ML + LC,1,171.545220,2024
4,9999140813,001795986,2024-05-13,TAE05957,TAE05957:Y 100ML+ NEW Y 50ML+ Y BALM,1,150.481881,2024
...,...,...,...,...,...,...,...,...
47304,9998915223,75702301202401011790,2024-01-01,034816402120,LE399800:YSL PREMIUM MEN POUCH DDP,1,0.000000,2024
47305,9998915223,75702301202401011790,2024-01-01,034816545875,LE027700:YSL NEW MASC EDP V1.2ML ECH,1,0.000000,2024
47306,9998915223,75702301202401011790,2024-01-01,034816545875,LE027700:YSL NEW MASC EDP V1.2ML ECH,1,0.000000,2024
47307,9999227431,001660949,2024-01-01,LA697000,LA697000:SAINT LAURENT NEW FEM S1.2ML SAMP,1,0.000000,2024
47308,9999227431,001660949,2024-01-01,L8238800,L8238800:NEW Y MEN EDP ECH SPRAY 1.2ML,1,0.000000,2024

In [9]:
# Show all unique values of a column:
sorted(data['amount'].unique())

[0.0,
 0.002178352620830497,
 0.0026661334518494704,
 0.0027229399999999996,
 0.0027229407760381214,
 0.9257998638529612,
 3.0667050000000002,
 20.00025,
 21.78352,
 22.464254999999998,
 23.56432276,
 23.73363,
 23.825725,
 24.087127239999997,
 24.185153079999996,
 24.533640000000002,
 24.72157226,
 25.187195,
 25.333650000000002,
 25.867929999999998,
 25.867937372362153,
 25.990462299999997,
 26.412525527569777,
 26.548665,
 27.637840999999998,
 27.773995915588838,
 27.910134999999997,
 28.00035,
 28.400355,
 28.590878148400275,
 29.200365,
 29.407752,
 29.952348536419333,
 30.496927999999997,
 31.193761386638805,
 31.313818924438394,
 31.449956999999998,
 31.586104,
 31.586113002042207,
 32.267070000000004,
 32.402986,
 32.67528931245746,
 32.933745,
 33.083721,
 33.227082,
 33.32666814811838,
 33.356015,
 33.49217154526889,
 33.56024506466984,
 33.764455999999996,
 34.036759700476516,
 34.303607896528256,
 34.30633083730429,
 34.309044,
 34.309053778080326,
 34.34709600000001,
 34.714771953710006,
 34.717494894486045,
 35.262073,
 35.398219999999995,
 35.39823008849557,
 35.45957490959796,
 35.467110000000005,
 35.534366999999996,
 35.726188254782905,
 35.833890399999994,
 35.9428182437032,
 36.00045,
 36.078955,
 36.21238938053097,
 36.215101999999995,
 36.21511232130701,
 36.587124,
 36.75969,
 36.75970047651464,
 37.03199455411845,
 37.168130999999995,
 37.520469,
 37.973808000000005,
 37.985012999999995,
 38.121159999999996,
 38.121170864533696,
 38.12570836144743,
 38.267145,
 38.640483,
 38.65893505181732,
 39.071477195371,
 39.074189,
 39.07420013614704,
 39.19216174218722,
 39.20762423417291,
 39.210336,
 39.21034717494895,
 39.48263,
 39.48264125255276,
 39.72538843255711,
 39.760497,
 39.99200177774206,
 40.080501000000005,
 40.299512,
 40.435658999999994,
 40.57181756296801,
 40.7918418132969,
 40.8441,
 40.84411164057182,
 40.880511000000006,
 41.05845515848185,
 41.388687999999995,
 41.388699795779445,
 41.658270932607216,
 41.660993873383255,
 41.81385600000001,
 41.858295194036685,
 41.859189900000004,
 41.86521443158612,
 41.933276,
 42.133860000000006,
 42.177863443735866,
 42.205569999999994,
 42.20558202859088,
 42.413863500000005,
 42.443133025143005,
 42.65813522959153,
 42.720534,
 42.7501701837985,
 42.81824370319946,
 42.886305,
 42.92474857477648,
 42.933870000000006,
 43.45797526514637,
 43.56704,
 43.56705241660994,
 43.72458861033132,
 43.83934649421375,
 43.97549353301566,
 43.99120195551627,
 44.053884,
 44.111627999999996,
 44.23115396618272,
 44.240553000000006,
 44.25781530070121,
 44.37960096941516,
 44.52442864588616,
 44.53389,
 44.56092579986385,
 44.605890900000006,
 44.65621599999999,
 44.65622872702519,
 44.791041991071104,
 44.792362999999995,
 44.928522804629004,
 45.057655336256055,
 45.13002042205582,
 45.13274336283186,
 45.173898,
 45.200816882232814,
 45.336951,
 45.59088202662595,
 45.600570000000005,
 45.745391999999995,
 45.745405037440435,
 46.107243000000004,
 46.12410871699584,
 46.28727025187202,
 46.28999319264806,
 46.562273999999995,
 46.720584,
 46.8432522,
 47.19056209773563,
 47.37916950306331,
 47.447243022464264,
 47.45717544292058,
 47.46726,
 47.65146358066712,
 47.748524653285884,
 48.10646698434309,
 48.1179348,
 48.25701547847542,
 48.52362882366037,
 49.012919999999994,
 49.012933968686184,
 49.05685551403026,
 49.067280000000004,
 49.200615000000006,
 49.467285000000004,
 49.55479918311777,
 49.557508,
 49.557522123893804,
 49.590082204400154,
 50.238243,
 50.37439,
 50.37440435670524,
 50.40063000000001,
 50.65653558513994,
 50.667300000000004,
 51.120639,
 51.189762275509835,
 51.191272,
 51.456375620694786,
 51.50969828973177,
 51.520644,
 51.627312,
 51.735859999999995,
 51.735874744724306,
 51.98960231106468,
 52.25621565624962,
 52.28044799999999,
 52.280462899931926,
 52.52282900143457,
 52.560657,
 52.64259902,
 53.05391628142876,
 53.05605569180447,
 53.097345132743364,
 53.58445544424305,
 53.760672,
 53.855895727359304,
 54.1184325,
 54.38026418846448,
 54.3907265,
 54.390742001361474,
 54.4588,
 54.45881552076243,
 54.65573576291415,
 54.667350000000006,
 55.139534999999995,
 55.18896245328404,
 55.20069,
 55.44134251409305,
 55.547991831177676,
 55.7066120955002,
 55.820269999999994,
 55.820285908781486,
 56.228727025187204,
 56.52202917920878,
 56.63715199999999,
 56.63716814159292,
 56.640708000000004,
 56.78864252439372,
 56.80071,
 56.880711000000005,
 57.032960002535916,
 57.18175629680055,
 57.590180999999994,
 57.726327999999995,
 57.72634445200817,
 58.054059,
 58.080726000000006,
 58.12170925031846,
 58.35930790957163,
 58.374676650782845,
 58.3883225955034,
 58.40073,
 58.41279782164738,
 58.654935940688354,
 58.815504,
 58.9215492858733,
 58.987404,
 59.067405,
 59.18816263105825,
 59.2375597,
 59.68565581660736,
 59.72138932142814,
 59.734080000000006,
 59.763087119999994,
 59.891065299999994,
 59.904697072838665,
 60.176973999999994,
 60.17699115044248,
 60.590090700000005,
 60.720759,
 61.012003723643076,
 61.266149999999996,
 61.26616746085773,
 61.32106939253782,
 61.33410000000001,
 61.334240980258684,
 61.946884999999995,
 62.120909428092666,
 62.9207494636475,
 62.93412000000001,
 63.187362808832454,
 63.200790000000005,
 63.600795000000005,
 63.716795999999995,
 63.852942999999996,
 63.98909,
 63.98910823689585,
 64.0435488,
 64.52042953475718,
 64.53414000000001,
 64.67527088,
 64.80081,
 64.80599046970728,
 64.94211899999999,
 65.35056,
 65.35057862491492,
 65.45130877999999,
 65.58688291549697,
 65.85349626068192,
 66.000825,
 66.06941615999999,
 66.12010960586687,
 66.24082800000001,
 66.31739535178595,
 66.4533507,
 66.71203,
 67.45317633179161,
 67.46751,
 67.680846,
 67.71978967697655,
 68.07351940095303,
 68.2777399591559,
 68.34581347855685,
 68.618088,
 68.72185159972771,
 68.7901932,
 69.05285640290128,
 69.43498978897209,
 69.571117,
 69.571136827774,
 70.11570499999999,
 70.320879,
 70.38592312882602,
 70.42339722,
 70.65253647401097,
 70.66755,
 70.79643999999999,
 70.79646017699115,
 71.06873399999999,
 71.35751739852168,
 71.47717499999999,
 71.867565,
 71.98560319993571,
 72.134235,
 72.15791,
 72.15793056501022,
 72.294057,
 72.80091,
 72.94913488696454,
 72.974792,
 73.30971362,
 73.51940095302928,
 73.58528327104538,
 73.60092,
 74.11850996141528,
 74.33626199999999,
 74.35826279999999,
 74.36076845999999,
 74.41795019999999,
 74.640933,
 74.65173665178517,
 74.88085,
 74.91834999697012,
 75.15316541865215,
 75.18496334215507,
 75.227607,
 75.28929099999999,
 75.28931245745406,
 75.30835158,
 75.71819003252496,
 75.840948,
 75.9182823,
 76.24231999999999,
 76.24234172906739,
 76.9281786080717,
 77.0047432,
 77.05922396187883,
 77.195349,
 77.19537100068074,
 77.280966,
 77.53573859768551,
 77.5689696,
 77.60381211708646,
 78.11771013918948,
 78.13431,
 78.38432348437443,
 78.40098,
 78.65964990000002,
 78.720984,
 78.96526,
 78.96528250510552,
 79.50984799999999,
 79.520994,
 80.054436,
 80.05445881552076,
 80.16100200000001,
 80.25061690066906,
 80.32673,
 80.32675289312458,
 80.454339,
 80.51723024585401,
 80.8713410483322,
 81.007465,
 81.28101600000001,
 81.31707028140886,
 81.574353,
 81.5836836265938,
 81.6882,
 81.68822328114364,
 81.960494,
 82.001025,
 82.09664099999999,
 82.13436,
 82.641229,
 82.65013700733358,
 82.69436700000001,
 82.801035,
 82.91675035251853,
 82.93437,
 83.5599181432503,
 83.866552,
 84.24981707844327,
 84.26772000000001,
 84.41116405718176,
 84.47923757658272,
 84.547287,
 84.74772600000001,
 85.77261,
 85.77263444520082,
 85.86774000000001,
 86.04490399999999,
 86.04492852280464,
 86.81821895999998,
 86.86181075561608,
 86.91595053029275,
 86.98775400000001,
 87.13410483321988,
 87.4010925,
 87.44917722066263,
 88.05987959999999,
 88.11161545999998,
 88.22325599999999,
 88.22328114363513,
 88.49555,
 88.49557522123894,
 88.51563060140242,
 88.78224394658737,
 89.04885729177232,
 89.06778,
 89.13057935280031,
 89.3805055,
 89.448579,
 89.85704560925801,
 90.12933968686181,
 90.16112700000001,
 90.38192401769706,
 90.53446500000001,
 90.53775499999999,
 90.673902,
 90.88113600000001,
 90.91515070806695,
 91.1817640532519,
 91.21848999999999,
 91.21851599727707,
 91.281141,
 91.42001361470389,
 91.42273655547993,
 91.49078399999999,
 91.49081007488087,
 91.5180055854646,
 91.89922499999999,
 91.98160408880673,
 92.00115000000001,
 92.401155,
 92.51483077917663,
 92.57996,
 92.57998638529612,
 92.84435349250033,
 93.31467081473147,
 93.3345,
 93.58128415991642,
 93.66916269571138,
 93.73723621511233,
 93.80800593999999,
 93.94145677331518,
 94.454514,
 94.622165,
 94.91318640000001,
 95.3029,
 95.30292716133424,
 95.44757757621105,
 95.49704930657177,
 95.574528,
 95.575194,
 95.847488,
 95.98363499999999,
 96.11980939414568,
 96.25323349217155,
 96.255929,
 96.38935305999999,
 96.55812763220034,
 96.66439754935331,
 96.69454200000001,
 96.721209,
 96.800517,
 97.20898570456093,
 97.481252,
 97.61920595782892,
 97.84709768287557,
 97.9638912,
 98.161987,
 98.29816201497619,
 98.91355106361536,
 99.25116299999999,
 99.38731,
 99.38733832539143,
 99.41457600000001,
 99.7133910991702,
 99.74136260908607,
 99.96124950000001,
 100.068045,
 100.20419199999999,
 100.69459200000001,
 100.74878,
 100.74880871341048,
 100.77984447990998,
 100.80126000000001,
 101.29336799999999,
 101.8252728,
 101.83798502382574,
 101.84629786064977,
 101.921274,
 101.974103,
 102.11025,
 102.11027910142955,
 102.12878884175036,
 102.241278,
 102.64613789620462,
 102.66795,
 102.91275124138957,
 102.92713199999999,
 103.041288,
 103.441293,
 103.47171999999999,
 103.71259127694441,
 103.87746766507829,
 103.88016099999999,
 103.88019060585432,
 103.98567591160037,
 104.15245499999999,
 104.40568841999999,
 104.7790446576842,
 104.83318999999999,
 104.83321987746767,
 104.88131100000001,
 105.07064670000001,
 105.37777799999999,
 105.37780803267529,
 105.57998640000001,
 105.78621899999999,
 105.84549803842398,
 106.10783256285752,
 106.11211138360893,
 106.19466,
 106.19469026548673,
 106.214661,
 106.321329,
 106.46698434309054,
 106.73924799999999,
 107.44517810953367,
 107.46801,
 107.55613,
 107.55616065350578,
 107.62423417290674,
 107.68686181075562,
 107.69227699999999,
 107.6923076923077,
 107.828424,
 107.99868330000001,
 108.454689,
 108.51163149027346,
 108.64530599999999,
 108.91763104152486,
 108.96136200000001,
 109.04485818064335,
 110.00677599999999,
 110.0068073519401,
 110.27906999999999,
 110.27910142954391,
 110.37792490656808,
 110.40138,
 110.4832905,
 110.48478065607539,
 110.508048,
 110.55136399999999,
 110.91115159693798,
 111.09326072157931,
 111.09598366235535,
 111.30017249999999,
 111.4132241910004,
 111.504393,
 111.57472800000001,
 111.62806200000001,
 111.71099163249282,
 111.841398,
 111.97760497767777,
 112.0014,
 112.00816882232812,
 112.457422,
 112.729716,
 112.73957209803612,
 112.74807600000001,
 113.06808000000001,
 113.2701112608504,
 113.27433628318585,
 113.28141600000001,
 113.410451,
 113.41475100000001,
 113.57728504878745,
 113.60142,
 113.95503899999999,
 113.97453893311302,
 114.06592000507183,
 114.36348,
 114.3635125936011,
 114.59645916788612,
 114.6358066712049,
 114.80143500000001,
 114.91035177471218,
 114.93477000000001,
 115.1269983307004,
 115.3845825,
 115.39226791210756,
 115.45265599999999,
 115.46811000000001,
 115.72494999999999,
 115.72498298162016,
 115.92144900000001,
 116.05544186562541,
 116.269538,
 116.26957113682778,
 116.40568499999999,
 116.51003184582187,
 116.53479,
 116.71861581914327,
 116.8141592920354,
 116.88223281143635,
 117.04146300000001,
 117.08641999999999,
 117.08645336963922,
 117.36146700000002,
 117.53025921999999,
 117.631008,
 117.77969414477185,
 117.90333560245065,
 118.03944899999999,
 118.03948264125256,
 118.10971191693154,
 118.13481,
 118.16147700000002,
 118.44792375765827,
 118.72018399999999,
 118.72021783526209,
 118.80148500000001,
 118.84077247040042,
 118.90955195248638,
 119.09482200000001,
 119.12862499999999,
 119.17616529767133,
 119.37131163321472,
 119.70939198804123,
 119.80936,
 119.80939414567733,
 120.00150000000001,
 120.08165399999999,
 120.14550180000002,
 120.214836,
 120.24261867841112,
 120.76238899999998,
 120.898536,
 120.89857045609259,
 120.99656184,
 121.03468299999999,
 121.04245871396597,
 121.06818000000001,
 121.1708645336964,
 121.30697699999999,
 121.33485,
 121.62610307517544,
 121.974858,
 121.98774676650784,
 122.02400744728615,
 122.10891209470576,
 122.3755254398907,
 122.454864,
 122.53229999999999,
 122.53233492171546,
 122.64213878507564,
 122.66820000000001,
 122.88153600000001,
 122.9087521302606,
 123.076888,
 123.07692307692308,
 123.21303499999999,
 123.35035535432186,
 123.388209,
 123.4419788206305,
 123.757623,
 123.89376999999999,
 123.89380530973452,
 123.94821600000002,
 124.1461640985433,
 124.24181885618533,
 124.26822000000001,
 124.321554,
 124.508223,
 124.50843220137028,
 124.67670326135759,
 124.98294599999998,
 124.98298162014977,
 125.25523999999999,
 125.25527569775358,
 125.30827223692512,
 125.521569,
 125.79982799999999,
 125.79986385296121,
 125.88968501999999,
 126.0030511683933,
 126.07215793056501,
 126.14023144996597,
 126.20826899999999,
 126.26832074980045,
 126.344416,
 126.61671,
 126.61674608577265,
 126.64133896284986,
 126.73651935999999,
 126.74825100000001,
 126.96158700000001,
 127.17456565321974,
 127.20159000000001,
 127.32939907542902,
 127.574928,
 127.68159600000001,
 127.70588599999999,
 127.70779234358965,
 127.97818,
 127.9782164737917,
 128.16061698,
 128.45473110959838,
 128.52280462899932,
 128.64257736,
 128.65891499999998,
 128.77424572432943,
 128.80161,
 129.33964999999998,
 129.33968686181075,
 129.611944,
 129.61198093941456,
 129.841623,
 129.88423799999998,
 129.98209488950047,
 130.30041838718904,
 130.3739257954391,
 130.40163,
 130.70112,
 130.70115724982983,
 130.76923076923077,
 130.907152485809,
 131.041638,
 131.10956099999999,
 131.17376583099394,
 131.26204564,
 131.30844279653618,
 131.79033356024507,
 131.9736058665488,
 131.974983,
 132.00165,
 132.0626276378489,
 132.24021921173374,
 132.334884,
 132.47103099999998,
 132.48165600000002,
 132.87678692988428,
 132.879472,
 132.8795098706603,
 133.094997,
 133.30667259247352,
 133.335,
 133.4213750850919,
 133.42406,
 133.42409802586795,
 133.560207,
 133.761672,
 133.96868618107555,
 134.23825731790333,
 134.24098025867937,
 134.37708899999998,
 134.78553,
 134.785568413887,
 134.90635266358322,
 135.28748651764334,
 135.33015656909464,
 135.4395793539531,
 135.70619269913806,
 136.010853,
 136.108368,
 136.147,
 136.14703880190606,
 136.23941938950796,
 136.26837,
 136.41933287950988,
 136.5060327346929,
 136.53504,
 136.561707,
 136.61383442467906,
 137.236176,
 137.50847,
 137.50850918992512,
 137.94018233171477,
 138.05309734513276,
 138.10571280580257,
 138.13506,
 138.18652144315863,
 138.189205,
 138.18924438393466,
 138.461499,
 138.508398,
 138.56706540000002,
 138.66840000000002,
 138.86993999999999,
 138.86997957794418,
 138.88627764,
 139.00126065734335,
 139.4387795317273,
 139.441743,
 139.46841,
 139.68682199999998,
 139.948416,
 140.23140999999998,
 140.23144996596324,
 140.503704,
 140.748426,
 140.77184625765204,
 141.00200202,
 141.038459602837,
 141.0483321987747,
 141.18175629680056,
 141.1844792375766,
 141.25605209930407,
 141.30507294802194,
 141.320586,
 141.3351,
 141.59287999999998,
 142.081776,
 142.10491298357678,
 142.13746799999998,
 142.63813967394668,
 142.80178500000002,
 142.90475301913162,
 142.95434999999998,
 142.95439074200138,
 143.24557395985767,
 143.362791,
 143.43797970950152,
 143.49897889720899,
 143.52179400000003,
 143.54522797999996,
 143.76855003403676,
 143.771232,
 143.7712729748128,
 143.97120639987142,
 144.04356705241662,
 144.26847,
 144.31586113002044,
 144.6562287270252,
 144.85514400000002,
 144.86040799999998,
 144.961812,
 145.0376597806112,
 145.5708864709811,
 145.60182,
 145.67729,
 145.6773315180395,
 145.813437,
 145.8982697739291,
 145.975158,
 146.104113161351,
 146.37072650653593,
 147.03876,
 147.03880190605855,
 147.17056654209077,
 147.20184,
 147.2246176809648,
 147.43717988727573,
 147.48988726237195,
 147.601845,
 147.62252205307553,
 148.28569600659338,
 148.40023,
 148.4002722940776,
 148.5036332680155,
 148.80186,
 149.041863,
 149.2141395415184,
 149.21715452688906,
 149.42133249999998,
 149.489406,
 149.76174268209667,
 150.36992668431014,
 150.481881,
 150.67312223925768,
 150.90315337468004,
 151.12317,
 151.12321307011572,
 151.38855900000001,
 151.43638006504992,
 151.70299341023488,
 151.73420056488627,
 151.73523,
 151.92189900000002,
 151.96960675541982,
 152.48196051735874,
 152.48463999999998,
 152.48468345813478,
 152.50283344578972,
 152.508573,
 152.75425459496256,
 152.756934,
 152.7569775357386,
 152.79527889051482,
 153.03606013615962,
 153.12191400000003,
 153.16537499999998,
 153.19318326262555,
 153.30267348134456,
 153.57385976855005,
 153.84610999999998,
 153.84615384615384,
 154.001925,
 154.561932,
 154.6357402072693,
 154.90235355245423,
 154.93527,
 154.9353301565691,
 155.1689668976392,
 155.18270512317912,
 155.20757999999998,
 155.20762423417293,
 155.43558024282413,
 155.616021,
 155.681946,
 155.7021935880091,
 155.96880693319403,
 156.00195000000002,
 156.23542027837897,
 156.50203362356393,
 156.76864696874887,
 156.80196,
 157.249785,
 157.2498298162015,
 157.30187365911877,
 157.441968,
 157.4579682,
 157.735305,
 157.83510034948867,
 157.83540093725057,
 157.86864,
 157.927842069435,
 157.93052,
 157.93056501021104,
 158.066667,
 158.202814,
 158.6349403850435,
 158.641983,
 158.90155373022844,
 159.16174884428628,
 159.2920353982301,
 159.43478042059834,
 159.46866,
 159.96800711096824,
 160.082001,
 160.65350578624916,
 160.92579986385297,
 161.03446049170802,
 161.06868,
 161.30107383689298,
 161.74263599999998,
 161.81444465835773,
 162.01225323349217,
 162.01493,
 162.0149761742682,
 162.10091387244782,
 162.63414056281772,
 162.962037,
 163.10415248468345,
 163.20204,
 163.3764,
 163.37644656228727,
 163.4060621468006,
 163.96720728874243,
 164.00205,
 164.16205200000002,
 164.19328199999998,
 164.46714047242915,
 165.52821879805774,
 165.56688735985213,
 165.60207,
 165.76207200000002,
 ...]

## **2.1-** Removing rows with a specific value in a specific column

In [10]:
# Identify rows where the specified column matches the given value
matching_rows = data["amount"] <= 0
count_matching = matching_rows.sum()

print(f"Rows that match: {count_matching}")

Rows that match: 22827

In [11]:
# Show the dataframe if we removed the matching rows
data[~matching_rows]

,custid,transid,date,productcode,productname,qty,amount,Year
0,12044593,001796224,2024-05-13 00:00:00,LB703100,LB703100:LIBRE INTENSE 90ML,1,190.605800,2024
1,12044593,001796224,2024-05-13,LB703100,LB703100:LIBRE INTENSE 90ML,1,190.605800,2024
2,99919582511,001796057,2024-05-13,LA696200,LA696200:LIBRE EDP 90ML,1,183.602295,2024
3,9998248301,001796238,2024-05-13,TAE05955,TAE05955:LB EDP INT 90ML+ LB EDP10ML + LC,1,171.545220,2024
4,9999140813,001795986,2024-05-13,TAE05957,TAE05957:Y 100ML+ NEW Y 50ML+ Y BALM,1,150.481881,2024
...,...,...,...,...,...,...,...,...
47212,10274880,001660732,2024-01-01,L9301800,L9301800:DESSIN DU REGARD WP 02 RENO,1,35.534367,2024
47213,9996038179,001660507,2024-01-01,L0128700,L0128700:YSL MASC VOL.EFFET FX CILS 03 NG,2,34.309044,2024
47214,10274880,001660732,2024-01-01,LB436100,LB436100:TC VELVET CREAM 216 FG,1,33.356015,2024
47215,99918750055,001661062,2024-01-01,LB436100,LB436100:TC VELVET CREAM 216 FG,1,33.356015,2024
47216,9996385320,001661208,2024-01-01,L6858500,L6858500:COUTURE EYE LINER 4,1,33.356015,2024

In [12]:
# Remove the rows and return the modified DataFrame
data = data[~matching_rows]

In [13]:
data.reset_index(drop=True, inplace=True)

In [14]:
data[data.columns]

,custid,transid,date,productcode,productname,qty,amount,Year
0,12044593,001796224,2024-05-13 00:00:00,LB703100,LB703100:LIBRE INTENSE 90ML,1,190.605800,2024
1,12044593,001796224,2024-05-13,LB703100,LB703100:LIBRE INTENSE 90ML,1,190.605800,2024
2,99919582511,001796057,2024-05-13,LA696200,LA696200:LIBRE EDP 90ML,1,183.602295,2024
3,9998248301,001796238,2024-05-13,TAE05955,TAE05955:LB EDP INT 90ML+ LB EDP10ML + LC,1,171.545220,2024
4,9999140813,001795986,2024-05-13,TAE05957,TAE05957:Y 100ML+ NEW Y 50ML+ Y BALM,1,150.481881,2024
...,...,...,...,...,...,...,...,...
24477,10274880,001660732,2024-01-01,L9301800,L9301800:DESSIN DU REGARD WP 02 RENO,1,35.534367,2024
24478,9996038179,001660507,2024-01-01,L0128700,L0128700:YSL MASC VOL.EFFET FX CILS 03 NG,2,34.309044,2024
24479,10274880,001660732,2024-01-01,LB436100,LB436100:TC VELVET CREAM 216 FG,1,33.356015,2024
24480,99918750055,001661062,2024-01-01,LB436100,LB436100:TC VELVET CREAM 216 FG,1,33.356015,2024
24481,9996385320,001661208,2024-01-01,L6858500,L6858500:COUTURE EYE LINER 4,1,33.356015,2024

In [ ]:
# If needed
data.drop('Item Quantity', axis=1, inplace=True)

In [77]:
# Save the DataFrame to an Excel file if needed
data.to_excel('YSL - Products May YTD 2024 - cleaned.xlsx', engine='openpyxl', index=False)

# **3-** Analysis

In [116]:
print(data['productcode'].value_counts())

3474636613908    2777
3474636858033    1466
3474636857883    1301
3474636858002    1281
3474636397983    1249
                 ...
3474636382668       1
3474637052201       1
3474636349913       1
3474636397372       1
3474636494934       1
Name: productcode, Length: 228, dtype: int64

In [117]:
# THIS CODE CALCS CO-OCCURENCE BASED ON CUSTOMER HISTORICAL PURCHASES = HOW MANY 
# TIMES TWO PRODUCTS APPEARED IN THE SAME HISTORY OF A CUSTOMER COUNTED ACCROSS ALL CUSTOMERS

# AND

# ANOTHER METRIC IS TRANSACTION COUNT = WHERE IT COUNTS HOW MANY TIMES THE PAIR APPEARED IN THE SAME TRANSACTION FOR THE SAME CUSTOMER


# Group by Invoice Number and Speedbus ID to find items bought in the same transaction
transaction_items = data.groupby(['transid', 'custid'])['productcode'].apply(list)

# Calculate co-occurrence within the same transaction
transaction_co_occurrence = defaultdict(int)
for items in transaction_items:
    for item_pair in combinations(set(items), 2):
        transaction_co_occurrence[item_pair] += 1
        transaction_co_occurrence[item_pair[::-1]] += 1

# Convert transaction co-occurrence counts to a DataFrame
transaction_co_occurrence_df = pd.DataFrame(((pair[0], pair[1], count) for pair, count in transaction_co_occurrence.items()), columns=['Item A', 'Item B', 'Transaction Count'])

# integrate the original co-occurrence count
# Calculate co-occurrence across all customer purchases, regardless of transaction
customer_purchases = data.groupby('custid')['productcode'].apply(list)
overall_co_occurrence = defaultdict(int)
for items in customer_purchases:
    for item_pair in combinations(set(items), 2):
        overall_co_occurrence[item_pair] += 1
        overall_co_occurrence[item_pair[::-1]] += 1

# Convert overall co-occurrence counts to a DataFrame
overall_co_occurrence_df = pd.DataFrame(((pair[0], pair[1], count) for pair, count in overall_co_occurrence.items()), columns=['Item A', 'Item B', 'Co-occurrence Count'])

# Merge the two datasets on Item A and Item B
merged_df = pd.merge(transaction_co_occurrence_df, overall_co_occurrence_df, on=['Item A', 'Item B'])

# Normalize scores (optional step here based on the new counts)
# You can normalize either or both count columns as needed

# Sort and select top 5 recommendations based on Co-occurrence Count
recommendations = merged_df.sort_values(by=['Item A', 'Co-occurrence Count', 'Transaction Count'], ascending=[True, False, False]).groupby('Item A').head(5)

In [118]:
# Export the recommendations to a CSV file
# recommendations.to_csv('product_bundling_recommendations_with_co_occurrences.csv', index=False)
recommendations.to_excel('GCC-KER-Raw-Data-full-cleaned-2023-bundling.xlsx', engine='openpyxl', index=False)

# **A-** Other

In [123]:
# THIS CODE CALCS CO-OCCURENCE BASED ON CUSTOMER HISTORICAL PURCHASES = HOW MANY 
# TIMES TWO PRODUCTS APPEARED IN THE SAME HISTORY OF A CUSTOMER COUNTED ACCROSS ALL CUSTOMERS


# Create a mapping of Speedbus ID to items purchased
customer_purchases = data.groupby('Speedbus ID')['Item ID'].apply(list)

# Calculate co-occurrence of each item pair within the same transaction
co_occurrence = defaultdict(int)
for items in customer_purchases:
    for item_pair in combinations(set(items), 2):
        co_occurrence[item_pair] += 1
        co_occurrence[item_pair[::-1]] += 1

# Convert the co-occurrence counts to a DataFrame
co_occurrence_df = pd.DataFrame(((pair[0], pair[1], count) for pair, count in co_occurrence.items()), columns=['Item A', 'Item B', 'Count'])

# You may want to normalize the scores here based on your specific criteria
# For now, let's assume we're directly using counts as a proxy for scoring

# To normalize scores between 0 and 1, find the max count
max_count = co_occurrence_df['Count'].max()
co_occurrence_df['Score'] = co_occurrence_df['Count'] / max_count

# Now, for each item, select the top 5 items to bundle with based on the score
recommendations = co_occurrence_df.sort_values(by=['Item A', 'Score'], ascending=[True, False]).groupby('Item A').head(5)

# Export the recommendations to a CSV file
recommendations.to_csv('product_bundling_recommendations.csv', index=False)

In [129]:
# THIS CODE CALCS CO-OCCURENCE BASED ON CUSTOMER HISTORICAL PURCHASES = HOW MANY 
# TIMES TWO PRODUCTS APPEARED IN THE SAME HISTORY OF A CUSTOMER COUNTED ACCROSS ALL CUSTOMERS

# AND

# ANOTHER METRIC IS TRANSACTION COUNT = WHERE IT COUNTS HOW MANY TIMES THE PAIR APPEARED IN THE SAME TRANSACTION FOR THE SAME CUSTOMER


# Group by Invoice Number and Speedbus ID to find items bought in the same transaction
transaction_items = data.groupby(['Invoice Number', 'Speedbus ID'])['Item ID'].apply(list)

# Calculate co-occurrence within the same transaction
transaction_co_occurrence = defaultdict(int)
for items in transaction_items:
    for item_pair in combinations(set(items), 2):
        transaction_co_occurrence[item_pair] += 1
        transaction_co_occurrence[item_pair[::-1]] += 1

# Convert transaction co-occurrence counts to a DataFrame
transaction_co_occurrence_df = pd.DataFrame(((pair[0], pair[1], count) for pair, count in transaction_co_occurrence.items()), columns=['Item A', 'Item B', 'Transaction Count'])

# Now, integrate the original co-occurrence count
# Calculate co-occurrence across all customer purchases, regardless of transaction
customer_purchases = data.groupby('Speedbus ID')['Item ID'].apply(list)
overall_co_occurrence = defaultdict(int)
for items in customer_purchases:
    for item_pair in combinations(set(items), 2):
        overall_co_occurrence[item_pair] += 1
        overall_co_occurrence[item_pair[::-1]] += 1

# Convert overall co-occurrence counts to a DataFrame
overall_co_occurrence_df = pd.DataFrame(((pair[0], pair[1], count) for pair, count in overall_co_occurrence.items()), columns=['Item A', 'Item B', 'Co-occurrence Count'])

# Merge the two datasets on Item A and Item B
merged_df = pd.merge(transaction_co_occurrence_df, overall_co_occurrence_df, on=['Item A', 'Item B'])

# Normalize scores (optional step here based on the new counts)
# You can normalize either or both count columns as needed

# Sort and select top 5 recommendations based on Co-occurrence Count
recommendations = merged_df.sort_values(by=['Item A', 'Co-occurrence Count', 'Transaction Count'], ascending=[True, False, False]).groupby('Item A').head(5)

# Export the recommendations to a CSV file
recommendations.to_csv('product_bundling_recommendations_with_co_occurrences.csv', index=False)

## **B-** Old

In [61]:
# Column names can be changed as needed
#user_id_col = 'Speedbus ID'  # Change this to the name of your user ID column
#item_id_col = 'Item ID'  # Change this to the name of your item ID column

In [ ]:
# Library Importing
import pandas as pd
from collections import defaultdict

# Load the dataset from GCS into a Data frame
df = pd.read_csv("My_Product_Performance_v2022.csv")

# Co-Occurance matrix creation
def create_co_occurrence_matrix(df):
    user_items = defaultdict(set)
    co_occurrence = defaultdict(int)

    for index, row in df.iterrows():
        user_items[row["user_id"]].add(row["item_id"])

    for item_set in user_items.values():
        for item1 in item_set:
            for item2 in item_set:
                if item1 != item2:
                    co_occurrence[(item1, item2)] += 1

    return co_occurrence

def find_similar_items(item_id, co_occurrence_matrix):
    similar_items = defaultdict(int)

    for (item1, item2), count in co_occurrence_matrix.items():
        if item1 == item_id or item2 == item_id:
            similar_items[item2 if item1 == item_id else item1] = count

    return dict(sorted(similar_items.items(), key=lambda x: x[1], reverse=True))


def generate_recommendations(user_id, co_occurrence_matrix, df, top_n=5):
    user_items = df[df["user_id"] == user_id]["item_id"].tolist()
    recommendations = []

    similar_items = defaultdict(int)
    for item in user_items:
        item_similarities = find_similar_items(item, co_occurrence_matrix)
        for similar_item, count in item_similarities.items():
            if similar_item not in user_items:
                similar_items[similar_item] += count

    # Sort similar items by count
    sorted_similar_items = dict(sorted(similar_items.items(), key=lambda x: x[1], reverse=True))

    # Generate recommendations
    for similar_item, _ in sorted_similar_items.items():
        recommendations.append(similar_item)
        if len(recommendations) >= top_n:
            break

    return recommendations


def display_co_occurrence_sample(co_occurrence_matrix, sample_size=10):
    print("Sample of item-item co-occurrence matrix:")
    for i, ((item1, item2), count) in enumerate(co_occurrence_matrix.items()):
        if i >= sample_size:
            break
        print(f"({item1}, {item2}): {count}")


def co_occurrence_matrix_to_df(co_occurrence_matrix):
    co_occurrence_list = [{"item1": item1, "item2": item2, "count": count}
                           for (item1, item2), count in co_occurrence_matrix.items()]
    return pd.DataFrame(co_occurrence_list)


def save_co_occurrence_matrix_to_csv(co_occurrence_matrix, output_filename):
    co_occurrence_df = co_occurrence_matrix_to_df(co_occurrence_matrix)
    co_occurrence_df.to_csv(output_filename, index=False)
    print(f"Co-occurrence matrix has been saved to {output_filename}")

# Apply the algorithm
co_occurrence_matrix = create_co_occurrence_matrix(df)

# Display a sample of the co-occurrence matrix
display_co_occurrence_sample(co_occurrence_matrix)

# Export the full co-occurrence matrix to a CSV file
output_filename = "co_occurrence_matrix.csv"
save_co_occurrence_matrix_to_csv(co_occurrence_matrix, output_filename)

# Generate recommendations for a specific user
# user_id = 1669640  # Set the user_id for which you want to generate recommendations

# recommendations = generate_recommendations(user_id, co_occurrence_matrix, df)

# Print the recommendations
# print(f"\nTop {len(recommendations)} recommendations for user {user_id}:")
# for i, rec_item_id in enumerate(recommendations, start=1):
    # print(f"{i}. Item ID: {rec_item_id}")